body {
    background-color: blanchedalmond;
}
p{
    color:darkblue;
}

h1 {
    text-align: center;
}

.box {
    background-color: plum;
    width: 200px;
   margin: 50px;
   border-style: groove;
   
}